button,
div,
form,
input {
  margin: 10px;
}

body {
  background-color: rgba(30,69,62,0.8);
}

.jumbotron {
  text-align: center;
}

.header {
  background-color: rgb(169,169,169);
  /* border-color: #cccccc;
  height: 114px;
  border-bottom-color: #666666;
  margin-left: 0;
  position: fixed;
  top:  0;
  width: 100%;
  z-index: 3;
  display: flex;
  background-image: url("http://minionswallpaper.com/Download-Wallpapers/game-of-thrones-wallpapers-desktop-background-To-Download-Wallpaper.jpg"); */

}

.movie {
  background-color: rgba(30,69,62,0.8);
  color: whitesmoke;
}

.movie:hover {
  background-color: rgb(169,169,169);
}


.gifArea {
  background-color: rgba(69,91,85, 0.3);
  /* border: 1px solid; */
  /* display: flex; */
}

.maincontent {
  background-color: grey;
}

/* .movieForm {
  border: 1px solid;
} */

.buttons {
  border: 1px solid;
}

.gifs {
  float: left;
  /* max-width: 200px; */
}

img {
  max-width: 300px;
}